html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
    background-image: url('../images/hypnotize.png');
}
header {
    position: relative;
    max-width: 100%;
    height: 90px;
    background: linear-gradient(#ffffff, #dddddd);
    border-bottom: 2px #cccccc solid;
}
.head-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 960px;

}
section {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    background-color: #ffffff;
    border: 4px #dbb302 solid;
    padding: 40px 30px 30px 30px;
    margin-top: 40px;
    margin-bottom: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
    float: left;
    height: 63px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    background-color: #4aaaa5;
    padding: 27px 20px 0 20px;
}
h2 {
    font-family: 'Cormorant Unicase', serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    padding: 25px 20px 28px 20px;
    margin-top: -10px;
    color: #dbb302;
    background-color: rgb(51, 2, 92);
}
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    color: #4aaaa5;
    margin-bottom: 38px;
}
h4, h5{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #3d3d3d;
}   
h4 {
    line-height: 20px;
}
#randomNumber, #finalTotal, #numberWins, #numberLosses {
    font-size: 30px;
    padding-top: 7px;
}
footer {
    max-width: 100%;
    max-height: 65px;
    background-color: #666666;
    border-top: 6px #4aaaa5 solid;
    flex-shrink: 0;
}
.wrap {
  flex: 1 0 auto;
}
nav {
    float: right;
}
.rules {
    display: inline-block;
    margin: 20px;
    line-height: 30px;
    text-align: center;
}
ul, li {
    display: inline-block;
    margin-top: 20px;
}
/* unvisited link */
a:link {
    color: #777777;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #777777;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #4aaaa5;
    text-decoration: none;
}
.divider-space {
    padding-right: 10px;
    padding-left: 10px;
}
.copy-right {
    text-align: center;
    padding-top: 40px;
    font-size: 10px;
    color: #ffffff;
}
.clearfix {
    overflow: auto;
}
#button:active {
  transform: translate(4px, 4px);
}
/*-- Game --*/
.crystalsWrap, .instructions{
    position: relative;
    background-color: rgb(51, 2, 92);
    width: 100%;
}
#panel, #flip {
    min-width: 890px;
    min-height: 20px;
    padding: 10px 5px 3px 5px;
    text-align: center;
    background-color: #dbb302;
}
#panel {
    min-width: 848px;
    padding: 15px;
    display: none;
    background-color: #fcfbed;
    border: 1px #dbb302 solid;
}
.crystalsWrap {
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}
.crystalHolder1, .crystalHolder2, .crystalHolder3, .crystalHolder4 {
    display: inline-block;
    max-width: 100px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
}
.crystalHolder1 {
    margin-left: 150px;
}
.gemImage{
    height: 100px;
    margin: 10px;
}
.resultsWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.numberToMatch, .win, .lost, .userTotal{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    min-width: 200px;
    height: 60px;
    margin: 20px 0 20px 0;
    padding-top: 5px;
    border: solid 1px rgb(51, 2, 92);
}
